{% extends 'template.html' %}

{% block title %}
<title>Интернет-магазин - О сайте</title>
{% endblock %}

{% block body %}

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">О нас</h1>
    <p class="fs-5 text-body-secondary">Мы - команда энтузиастов, которые создали этот интернет-магазин с целью
        предложить вам лучшие товары по доступным ценам. Наша миссия - делать вашу жизнь проще и приятнее, предлагая
        продукты высокого качества, которые вы можете купить прямо из дома.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-5 fw-normal text-body-emphasis mb-4">Наша история</h1>
    <p class="fs-5 text-body-secondary">Наш интернет-магазин был основан в 2024 году. С тех пор мы постоянно растем и
        развиваемся, расширяя ассортимент товаров и улучшая сервис для наших клиентов. Мы гордимся тем, что смогли
        построить доверительные отношения с тысячами клиентов по всей стране.</p>

</div>

<div class="pricing-header p-3 pb-md-4 mx-auto">
    <h1 class="display-6 fw-normal text-body-emphasis mb-4">Наши ценности</h1>
    <ul class="list-unstyled text-small">
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Клиент на первом месте. Мы всегда стремимся удовлетворить потребности
                наших клиентов и превзойти их ожидания.</p>
        </li>
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Качество продукции. Мы тщательно отбираем наших поставщиков и продаем
                только товары, которые соответствуют нашим строгим стандартам качества.</p>
        </li>
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Надежность. Мы ценим доверие наших клиентов и всегда выполняем свои
                обещания.</p>
        </li>
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Инновации. Мы постоянно ищем новые способы улучшения нашего сервиса и
                ассортимента товаров.</p>
        </li>
    </ul>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto">

    <p class="fs-5 text-body-secondary">Мы благодарим вас за выбор нашего интернет-магазина и надеемся, что вам
        понравится здесь делать покупки!</p>
</div>

{% endblock %}