{% extends 'template.html' %}

{% block title %}
<title>Интернет магазин - Добавление новой позиции</title>
{% endblock %}

{% block body %}

<div class="row p-3">
    <div class="col p-3">
        <h3>Добавление новой позиции</h3>
    </div>
</div>

<div class="row p-3">
    <div class="col col-m p-3">
        <form method="post" enctype="multipart/form-data" class="needs-validation">
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="name">Название позиции</span>
                <input type="text" class="form-control" name="name" id="name" required>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="discription">Описание позиции</span>
                <textarea class="form-control" name="discription" id="discription" rows="5" required></textarea>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="category_id">Категория позиции</span>
                <select class="form-select" aria-label="Default select example" name="category_id" id="category_id">
                    {% for category in categoriesList %}
                    <option value="{{category['id']}}">{{category['name']}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="price">Цена позиции</span>
                <input type="number" class="form-control" name="price" id="price" step="0.01" min="0.01" required>
            </div>

            <div class=" input-group flex-nowrap mb-3">
                <input class="form-control" type="file" name="positionImage" id="positionImage" multiple accept=".jpg"
                    required>
            </div>

            <div class="input-group flex-nowrap mb-3">
                <button type="submit" class="btn btn-primary mb-3">Создать позицию</button>
            </div>
        </form>
    </div>
</div>


{% endblock %}