{% extends 'template.html' %}

{% block title %}
<title>Document - Главная страница</title>
{% endblock %}

{% block body %}

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal text-body-emphasis mb-4">Добро пожаловать в наш интернет-магазин!</h1>
    <p class="fs-5 text-body-secondary">Мы рады предложить вам широкий ассортимент качественных товаров по доступным
        ценам. У нас вы найдете все, что вам нужно, от бытовой техники до электроники и одежды.</p>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-5 fw-normal text-body-emphasis mb-4">Почему выбирают нас?</h1>
    <ul class="list-unstyled text-small">
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Широкий ассортимент товаров. У нас вы найдете все, что вам нужно, в
                одном месте.</p>
        </li>
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Высокое качество. Мы тщательно отбираем наших поставщиков и гарантируем,
                что все наши товары соответствуют самым высоким стандартам качества.</p>
        </li>
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Быстрая доставка. Мы ценим ваше время и гарантируем быструю и надежную
                доставку в любую точку страны.</p>
        </li>
        <li class="mb-1">
            <p class="fs-5 text-body-secondary">Превосходный сервис. Наша команда поддержки всегда готова помочь вам с
                любыми вопросами или проблемами.</p>
        </li>
    </ul>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-6 fw-normal text-body-emphasis mb-4">Начните покупки сегодня!</h1>
    <p class="fs-5 text-body-secondary">
        Посмотрите наш ассортимент товаров и начните покупки сегодня. Мы уверены, что у вас будет приятный опыт покупок
        в нашем интернет-магазине!
    </p>
</div>

{% endblock %}