{% extends 'template.html' %}

{% block title %}
<title>Document</title>
{% endblock %}

{% block body %}

<div class="row p-3">
    <div class="col p-3">
        <h1>Все позиции</h1>
    </div>
</div>

<form method="post">

    <div class="row p-3">

        {% for position in positions %}

        <div class="col p-3">
            <div class="card mb-3 rounded-3 shadow-sm text-center">

                <div class="card-header"
                    style="min-height: 100px; display: flex; align-items: center; justify-content: center;">
                    <h5>Id:{{ position['id'] }}, {{ position['name'] }}</h5>
                </div>

                <div class="card-body text-muted"
                    style="min-height: 100px; display: flex; align-items: center; justify-content: center;">
                    <h6>{{ position['discription'] }}</h6>
                </div>

                <div class="card-body text-muted">
                    <div class="row p-3">

                        {% for image in position['positionImages'] %}

                        <div class="col p-3">
                            <div class="card mb-1 rounded-1 shadow-sm text-center" style="width: 400px">

                                <div class="card-header"
                                    style="min-height: 100px; display: flex; align-items: center; justify-content: center;">
                                    <h5>Id:{{ image['id'] }}, {{ image['name'] }}</h5>
                                </div>

                                <div class="card-body" style="height: 300px;">
                                    <img src="data:;base64,{{ image['data']  }}"
                                        style="object-fit: scale-down; max-width: 300px; max-height: 250px;" />
                                </div>

                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>


                <div class="card-footer"
                    style="min-height: 100px; display: flex; align-items: center; justify-content: center;">
                    <button type="submit" class="w-100 btn btn-m btn-outline-secondary" name="id"
                        value="{{ position['id'] }}">Удалить позицию</button>
                </div>

            </div>

        </div>
    </div>

    {% endfor %}
    </div>
</form>

{% endblock %}