{% extends 'template.html' %}

{% block title %}
<title>Интернет-магазин - Просмотр списка администраторов</title>
{% endblock %}

{% block body %}

<div class="row p-3">
    <div class="col p-3">
        <h3>Просмотр списка администраторов</h3>
    </div>
</div>

<form method="post">

    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center g-3">

        {% for user in users %}

        <div class="col">
            <div class="card mb-3 rounded-3 shadow-sm text-center">

                <div class="card-header"
                    style="min-height: 100px; display: flex; align-items: center; justify-content: center;">
                    <h5>Id: {{ user['id'] }}, {{ user['name'] }}</h5>
                </div>

                <div class="card-body text-muted"
                    style="min-height: 100px; display: flex; align-items: center; justify-content: center;">
                    <h6>{{ user['login'] }}</h6>
                </div>

                <div class="card-footer"
                    style="min-height: 100px; display: flex; align-items: center; justify-content: center;">
                    <button type="submit" class="w-100 btn btn-m btn-outline-secondary" name="id"
                        value="{{ user['id'] }}">Удалить пользователя</button>
                </div>

            </div>
        </div>

        {% endfor %}
    </div>
</form>

{% endblock %}